<div class="book-cover">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 262.222">
    <a href="{{url}}">
      <linearGradient gradientUnits="userSpaceOnUse" x1="99.501" y1="2090.696" x2="99.501" y2="2352.807"
                      id="gradient-{{id}}"
                      gradientTransform="matrix(0.795741, 0.605637, -0.762818, 1.000426, 1715.531158, -2151.904888)">
        <stop offset="0" style="stop-color: {{color}};"/>
        <stop offset="1" style="stop-color: rgba(0, 0, 0, 1)"/>
      </linearGradient>
      <path fill-rule="evenodd" stroke="#000" stroke-width=".111"
            d="M 0 0 L 199.889 0 L 199.889 262.111 L 0 262.111 L 0 0 Z" style="fill: url(#gradient-{{id}});">
        <title>background</title>
      </path>
      <use href="{{{@root.uiRootPath}}}/img/book_cover_simple.svg#book" width="200" height="262.222" x="0" y="0"/>
      <text x="95" y="92" style="font-size: 14px;
    text-anchor: middle;
    font-family: 'DejaVu Sans', serif;
    font-weight: 800;
    text-align: start;
    letter-spacing: 0;
    word-spacing: 0;
    fill: white;
    font-style: italic;">
        {{title}}
      </text>
    </a>
  </svg>
</div>
