<header class="header">
  <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">
    <div class="navbar-brand">
      <div class="navbar-item feelpp-logo">
        <a href="{{{site.url}}}"><img src="{{{uiRootPath}}}/img/feelpp-logo.svg" alt="Feel++ logo"/></a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item search hide-for-print">
          <form class="search">
            <i class="fa-solid fa-search"></i>
            <input type="text" placeholder="Search {{{site.title}}}" class="query" id="search-query">
          </form>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Manuals</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://docs.feelpp.org/user/{{{asciidoc.attributes.feelpp-version}}}">User</a>
            <a class="navbar-item" href="https://docs.feelpp.org/dev/{{{asciidoc.attributes.feelpp-version}}}">Developer</a>
            <a class="navbar-item" href="https://docs.feelpp.org/toolbox/{{{asciidoc.attributes.feelpp-version}}}">Toolbox</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link" data-title="Support">
            <span class="icon"><img src="./_/img/octicons-24.svg#view-comment-discussion"></span>
          </div>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item has-icon" href="https://join.slack.com/t/feelpp/shared_invite/zt-2qe0q9hw-4pVbhohCXUE6Po9Ma8dbiQ" target="_blank" rel="noopener">
              <span class="icon"><img src="./_/img/slack-icon.svg"></span>
              <span>Chat</span>
            </a>
            <a class="navbar-item has-icon" href="https://github.com/orgs/feelpp/discussions" target="_blank" rel="noopener">
              <span class="icon"><img src="./_/img/octicons-16.svg#view-discussion-closed"></span>
              <span>Discussions</span>
            </a>
            <a class="navbar-item has-icon" href="https://github.com/feelpp" target="_blank" rel="noopener">
              <span class="icon"><img src="./_/img/octicons-16.svg#view-mark-github"></span>
              <span>Source</span>
            </a>
            <a class="navbar-item has-icon" href="https://twitter.com/feelpp" target="_blank" rel="noopener">
              <span class="icon"><img src="./_/img/octicons-16.svg#view-hash"></span>
              <span>Tweets</span>
            </a>
          </div>
        </div>
        <div class="navbar-item">
          <a class="navbar-brand"  href="https://www.cemosis.fr">
            <img class="cemosis-logo"  src="{{{uiRootPath}}}/img/cemosis-logo.svg" alt="Cemosis logo"/>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
